<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employee">

	
	<select id="selectAllEmployee" resultType="hashmap">
	select empno,ename,dname,loc,sal,to_char(hiredate,'YYYY-MM-DD') hiredate, state 
	from employee
	order by empno
	</select>
	

	<select id="searchList" parameterType="hashmap" resultType="hashmap">
	   select empno,ename,dname,loc,sal,to_char(hiredate,'YYYY-MM-DD') hiredate,state
	   from employee 
	   <!-- if  사용--> 
	   <if test= "inputSubMenu == 1">
	    where empno = #{searchWord}
	   </if>
	   <if test = "inputSubMenu == 2">
	   where ename = #{searchWord}
	   </if>
	   <if test = "inputSubMenu == 3">
	   where dname = #{searchWord}
	   </if>
	   
	  <if test = "inputSubMenu == 4">
	  where  loc = #{searchWord}
	   </if> 
	   
	   <if test = "inputSubMenu == 5">
	   where sal = #{searchWord}
	   </if>
	</select>

	<select id="createEmployeeNum" resultType="int">
	 select NVL(max(empno),0) +1 as num
	  <!-- 사원번호 최대 값을 가져와 +1 한 값을 리턴해줌 , 사원번호가 0인 경우 1로 리턴 -->
	</select>
	
	<insert id="employeeInsert" parameterType="Employee">
	insert into employee values (#{empno},#{ename},#{dname},#{loc},#{sal},#{hiredate},#{state})
	<!-- 사원 추가 -->
	</insert>

</mapper>








