<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dept.DeptMapper">
<!-- mapper에 이름 부여,  -->
<insert id="deptInsert" parameterType="Dept">
  insert into dept (deptno, dname, loc) values
  (#{deptno}, #{dname}, #{loc})
</insert> 
  
 <select id="selectByHash" parameterType="int" resultType="HashMap">
 select deptno, dname, loc from dept where deptno = #{deptno}
 </select>
 
 <select id="selectByDeptnoIn" parameterType="HashMap" resultType="Dept">
 select deptno, dname, loc from dept where deptno in (#{deptno}, #{deptno1}, #{deptno2})
 </select>
 
 <select id="selectHash" parameterType="HashMap" resultType="Dept">
select deptno, dname, loc from dept where deptno between #{deptno} and #{deptno1}
</select>
  
<select id="selectByDeptno" parameterType="int" resultType="Dept">
select deptno, dname, loc from dept where deptno= #{deptno}
</select>                                                                

<select id="selectAll" resultType="Dept"><!-- 결과를 Dept의 List형태로 -->
  select deptno, dname, loc from dept
</select>

  
<delete id="deptDelete" parameterType="Dept">
delete from dept where deptno = #{deptno}
</delete>

<update id="deptUpdate" parameterType="Dept">
update dept set dname = #{dname}, loc = #{loc} where deptno = #{deptno}
</update>

<select id="deptCount" resultType="int">
select count(*) from dept
</select>

<select id="selectNnL2" resultType="Dept">
select deptno, dname, loc from dept where dname=#{dname} and loc=#{loc}
</select>

<select id="selectNoL" resultType="Dept">
select deptno, dname, loc from dept where loc=#{loc} 
</select>

<select id="selectNoL1" resultType="Dept">
select deptno, dname, loc from dept where dname=#{dname}
</select>


</mapper>